// @import './theme.scss';


.c-page--password {
  height: unset;
  background-color: $s-color--background-tertiary;
  @include t-media-query($s-small-up) {
    height: 100vh;
  }
}

.c-template-password {
  position: relative;
  overflow: visible;
  padding: 0 $s-gutter--edge-mobile;
  padding-top: 5rem;
  text-align: center;

  .o-heading__inner {
    margin-top: 0;
    @extend %s-font--heading-3;
  }

  .errors {
    text-align: left;
    color: $s-color--error;
  }

  &__logo-svg {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  &__titles {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__subheading {
    margin: .5rem 0 1rem;
    &-2 {
      font-size: 0.75rem;
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-direction: row;

    &-input {
      border-radius: 1.5625rem;
      padding-right: 5.625rem;
    }

    &-button {
      color: $s-color--font;
      position: absolute;
      top: 0;
      right: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0.875rem 2.5rem 0.875rem 1.25rem;
      font-size: 1rem;
      letter-spacing: 0.0275em;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__footer-process {
    font-size: 0.75rem;
    display: block;
    padding-bottom: 0;
    margin-top: 0.5rem;
  }


  @include t-media-query($s-small-up) {
    margin-top: 0;
    top: 50vh;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    max-width: 20rem;

    &__wrapper {
      text-align: center;
    }
  }

  @include t-media-query($s-medium-up) {
    max-width: 30rem;

    &__titles {
      margin-bottom: 2rem;

      .o-title {
        font-size: 2.5rem;
      }
    }

    &__subheading {
      margin: .5rem 0;
      &-2 {
        font-size: 0.875rem;
        margin-bottom: 0;
      }
    }

    &__row {
      &-input {
        padding: 0.5rem 4.375rem 0.5rem 1.25rem;
        font-size: 0.625rem;
        letter-spacing: 0.05em;
      }
      &-button {
        padding: 0.875rem 1.5rem 0.875rem 1.25rem;
        font-size: 0.75rem;
        letter-spacing: 0.03667em;
      }
    }

    &__footer-process {
      margin-top: 1rem;
      font-size: 1rem;
    }

    &__login {
      margin-bottom: 2rem;
    }

    .o-heading__inner {
      margin-bottom: 4rem;
    }
  }

  @include t-media-query($s-large-up) {

    &__subheading {
      &-2 {
        font-size: 1.125rem;
        letter-spacing: 0.0275em;
      }
    }

    &__row {
      &-input {
        font-size: 0.875rem;
        line-height: 1.45;
        letter-spacing: 0.04357em;
        padding: 0.9rem 1.25rem;
      }
      &-button {
        padding: 0.875rem 2.15rem;
        font-size: 1.125rem;
        letter-spacing: 0.02778em;
      }
    }
  }
}
