/*
 * Styling for Article Template section
 *
 * v1.0.0 - 2021/04/20
 */

.c-article {
  &__main {
    position: relative;
    margin-bottom: 2rem;
  }

  &__content {
    padding-top: 1.125rem;
    @include t-content-headings;

    > :not(img):first-child {
      margin-top: 0;
    }

    > :not(img) {
      margin: 2rem 1.5rem;
      line-height: 1.7;
    }

    p > iframe {
      max-width: 100%;
    }

    // Article highlight text
    > h2 {
      font-size: 1.25rem;
      position: relative;
      padding-left: 1.5rem;
      line-height: 1.6;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 0.25rem;
        height: 100%;
        border-radius: 0.125rem;
        background-color: $s-color--background-quartenary;
      }
    }
  }

  &__author {
    display: flex;
    flex-direction: row;
    margin: 1.5rem $s-gutter--edge-mobile;
    border-top: 1px solid $s-color--border-light;

    &-image {
      width: 3.5rem;
      height: 3.5rem;
      padding-bottom: 3.5rem;
      margin-right: 0.75rem;
      border-radius: 50%;
      overflow: hidden;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-name {
      margin: 0;
      line-height: 1.5rem;
    }

    &-position {
      margin: 0;
      opacity: 0.4;
      line-height: 1.5rem;
    }
  }

  @include t-media-query($s-small-up) {
    &__content {
      > :not(img) {
        margin: 2rem $s-gutter--edge-small;
      }
    }

    &__author {
      margin: 2rem $s-gutter--edge-small;
    }
  }

  @include t-media-query($s-medium-up) {
    &__content {
      width: 65%;
      margin: 0 auto;
      padding-top: 0;
      max-width: 57.06rem;

      > img {
        border-radius: 1rem;
      }

      > :not(img):first-child {
        padding-top: 4rem;
      }

      > :not(img) {
        margin: 4rem 6rem;
      }

      // Article highlight text
      > h2 {
        font-size: 2.5rem;
        line-height: 1.4;
        padding-left: 2.75rem;
      }
    }

    &__main {
      margin-bottom: 5rem;
    }

    &__author {
      width: 50%;
      margin: 0 auto;
      max-width: 45rem;
      margin: 2.5rem 0 7.5rem;

      &-image {
        width: 4rem;
        height: 4rem;
        padding-bottom: 4rem;
        margin-right: 1.375rem;
      }

      &-name {
        font-size: 1.125rem;
        margin-bottom: 0.2rem;
      }

      &-position {
        font-size: 1.125rem;
      }
    }
  }

  @include t-media-query($s-xlarge-up) {
    &__main {
      margin-bottom: 7.5rem;
    }
  }
}