/*
 * Styling for Blog Template section
 *
 * v1.0.0 - 2021/04/20
 */

.c-blog-template {

  /*** Media Queries ***/
  @include t-media-query($s-medium-up) {
    &__articles {
      padding: 0 2.5rem;
      margin: 0 auto;
      max-width: 125rem;
      background: linear-gradient(rgba($s-color--background-secondary, 0.04), rgba($s-color--background-secondary, 0) t-to-rem(80));
    }
  }
}