.o-collection-breadcrumb {

  ul{
    padding: 0; 
    margin:0;
    display: flex;
    justify-content: center;
  }

  li{
    margin-left: t-to-rem(26);
    &:first-child{
      list-style: none; 
      margin-left: unset;
    }
  }

  &__node{

    &:not(.is-leaf-node):hover{
      text-decoration: underline;
    }

    &.is-leaf-node{
      //trum heading style
      margin: 0;
      font-family: $s-font--root-family;
    }
  }

}