/* Root Font */
$s-font--root-size: 16px;
$s-font--root-weight: 400;
$s-font--root-family: 'Kumbh Sans', sans-serif;
$s-font--root-line: 1.33;
$s-font--root-letter: 0;

/* Heading Font */
$s-font--heading-family: p22-mackinac-pro, serif;
$s-font--heading-weight: 400;

/* Alternate Weights */
$s-font--weight-bold: 700; //Used for the root style only 