/*
 *  Page Wrapper Sizes
 *    Settings for page or content widths
 *
 *  Version:
 *    1.0.0 - 2020/09/04
 */

// $s-page-wrap--medium: 77.5rem;
$s-page-wrap--small: 66.25rem; // 1060
$s-page-wrap--large: 115rem; // 1840
$s-page-wrap--xlarge: 125rem; // 2000
