/*
 * Reset Password Template
 */

.c-reset-password-template {
  position: relative;
  overflow: visible;
  margin: 2.5rem 1.5625rem;

  .errors {
    text-align: left;
    color: $s-color--error;
    margin-bottom: 1.5rem;

    & > ul {
      margin-top: 0;
    }
  }

  .o-input {
    margin-bottom: 1rem;
  }

  @include t-media-query($s-small-up) {
    margin: $s-gutter--section-v-medium auto;
    text-align: center;
    max-width: 20rem;
  }

  @include t-media-query($s-medium-up) {
    max-width: 30rem;
  }
}
