/*
 *  Featured Collections
 *    Styles for the carousel of collection tiles.
 *
 *
 *  Version:
 *    1.0.0 - 2020/12/28
 */

.c-products-carousel {
  padding: 0 $s-gutter--edge-mobile;
  margin: 3.5rem 0 4rem;

  //Section title
  &__title {
    text-align: center;
    margin: 0 0 1.5rem;
  }

  //Individual collection tile styles 
  &__tile {
    width: calc(50% - 0.3125rem);
    margin-bottom: 3rem;

    //No margin on last two tiles
    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  &__carousel {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $s-page-wrap--large;
    margin: 0 auto;

    .o-primary-feature-icon{
      margin: 0;
      top: 0;
      box-shadow: unset;
      padding: 0;
      background: unset;

      &__image{
        height: t-to-rem(20);
        margin-right: 8px;
      }
      &__title{
        font-size: t-to-rem(14);
      }
    }
  }


  /*==== Media Queries ====*/


  @include t-media-query($s-small-up) {
    padding: 0 $s-gutter--edge-small;
  }

  @include t-media-query($s-medium-up) {
    margin: $s-gutter--section-v-medium 0;
    padding: 0 $s-gutter--edge-medium-alt;

    &__title {
      margin: 0 0 4rem;
    }

    &__tile {
      width: calc(25% - 0.9375rem);
    }

    //Ensure flex always maintains spacce between
    &__carousel {
      &:after, &:before {
        content: '';
        width: calc(25% - 0.9375rem);
        order: 2;
      }

      .o-primary-feature-icon{
        &__image{
          height: t-to-rem(26);
          margin-right: t-to-rem(10);
        }
        &__title{
          padding-top: t-to-rem(4);
          font-size: t-to-rem(18);
        }
      }
    }
  }

  @include t-media-query($s-xlarge-up) {

    &__tile, &__carousel:after, &__carousel:before {
      width: calc(25% - 1.875rem);
    }

  }
}